        .logo {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
      }

      .logo-icon {
        width: 1000px;
        height: 500px;
        background: linear-gradient(135deg, #131313 0%, #000000 100%);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: white;
      }

      .logo-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }